
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <ul>
            <li><a href="/api/demo1">demo1</a></li>
            <li><a href="/api/demo2">demo2</a></li>
            <li><a href="/api/demo3">demo3</a></li>
            <li><a href="/api/demo4">demo4</a></li>
            <li><a href="/api/demo5">demo5</a></li>
            <li><a href="/api/demo6">demo6</a></li>
            <li><a href="/api/demo7">demo7</a></li>
        </ul>
    </div>
</body>
</html>
